{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="d-flex">
    <div class="col-md-1">
        <div class="card">
            <div class="card-header">
                <a href="{% url 'dashboard' %}" class="text-decoration-none">
                    <h4>Dashboard</h4>
                </a>
            </div>

                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'add_product' %}" class="text-decoration-none">Add Product</a></li>
                    <li class="list-group-item"><a href="{% url 'pending_rent_requests' %}" class="text-decoration-none">Rent Request</a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none">Rented</a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none">Return Request</a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none">Returned</a></li>

                </ul>

        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h4>
                    {% block db_title %}{% endblock %}
                </h4>
            </div>
            <div class="card-body">
                {% block db_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}